*{
  margin: 0;
  padding: 0;
}
body{
    margin: 0;
    animation: changeBg 6s infinite alternate-reverse;
    display: grid;
    place-items: center;
}
@keyframes changeBg{
    0%{background-color: #9e9e9eae;}
    100%{background-color: #333335be;}
}
nav{
    margin-bottom: 2rem;
    background-color: #aef9fd54;
    width: 100%;
    height: 50px;
    border-radius: 0 0 25px 25px;
}
nav div{
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
}
nav div a{
    padding: 0.3rem 3rem 0.3rem 3rem;
    border-radius: 0.4rem;
    background-color: rgba(129, 125, 125, 0.493);
    color: white;
    text-decoration: none;
}
nav div a:hover{
    background-color: rgba(163, 157, 157, 0.719);
}
.table{
    margin-top: 2rem;
    --bs-table-bg: rgba(255, 255, 255, 0.466)!important;
    width: 70%!important;
    text-align: center;
}
td img{
    width: 10rem;
    height: 10rem;
    border-radius: 5px  40px 0 40px;
    box-shadow: rgb(41, 40, 40) 15px 20px 20px;
}
.descripcion{
  background-color: #9e9e9ed5;
  width: 80%;
  border-radius: 0.8rem;
  text-align: center;
}
.form1{
  margin-top: 2rem;
  padding: 2rem;
  background-color: #9e9e9ed5;
  border-radius: 1rem;
}
.mb-3 label{
    font-size: 1.5rem;
}
.input{
    margin-bottom: 3rem;
}